@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff2cc;
}

h1 {
  font-family: "Bebas Neue";
  color: black;
  font-size: 8vw;
}

p {
  font-family: "Work Sans";
  color: black;
  font-size: 1.5vw;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topbar {
  flex: 1;
  padding: 4em;
}

.hero {
  flex: 4;
  padding: 4em;
}

.prj1 {
  flex: 1;
  background-color: #d9ead3;
  padding: 4em;
}

.prj2 {
  flex: 1;
  background-color: #c9daf8;
  padding: 4em;
}

.prj3 {
  flex: 1;
  background-color: #f4cccc;
  padding: 4em;
}
